@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
// Couleurs principales
$primary: #a22c2c;
$secondary: #EEEEEE;

// Couleurs du texte
$text: $secondary;
$heading: $primary;

// Couleurs de l'image
$image: #EEEEEE;

// Mise en page
.container {
  background-color: $primary;
}

.img {
  border-color: $image;
}

.text {
  color: $text;
}

.heading {
  color: $heading;
}
